body {
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 1.3% 6.2%;
}
header .levo {
  width: 50%;
  display: flex;

  align-items: center;

}
header .desno {
  width: 50%;
  display: flex;
justify-content: flex-end;
  align-items: center;

}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  padding: 1% 3%;
}
header .levo nav {

  width: 48%;
  padding-left: 4%;
}
header .desno nav {

  width: 36%;
  padding-right: 4%;
}
.dugme {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 7px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}
.centar {
  text-align: center;
  width: 45%;
  display: block;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}
.jumbotron {
  background: url("poz.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.jumbotron p {
  color: white;
  position: absolute;
  bottom: 0;
}
article {
  display: flex;
  padding: 4%;
}
.arttek {
  padding-left: 10%;
  padding-right: 10%;
}
.arttek h1 {
  font-weight: bold;
  font-size: 44px;
}
.arttek p {
  font-size: 18px;
  line-height: 1.5em;
}
.arttek ul li {
  list-style-type: none;
  line-height: 1.5em;
  border-bottom: 1px solid gray;
}
.artek ul {
  margin-left: 0;
}
.artsl img{
height: 430px;
width: 520px;
}
.kontejner {
  max-width: 1549px;
  position: relative;
  margin: auto;
}
.slajd {
  width: 33%;
  height: 280px;
}
.mySlides {
    display: none;
}
.naslov {
  position: absolute;
  bottom: 70px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 7.5s;
  animation-name: fade;
  animation-duration: 7.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.jumbotron2 {
  background: url("bapka.jpg");
  background-size: cover;
  width: 100%;
  height: 240vh;
  position: relative;
  color: white;
}
.jumbotron2 h1 {
  text-align: center;
padding-top: 30px;
}
.jumbotron2 div {
  display: flex;
  justify-content: center;
  padding: 39px 3%;
}
.jumbotron2 div p {
  text-align: center;
  width: 33%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 1% 4%;
  margin: 1% 9%;
}
.card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.row {
  display: flex;
  margin-bottom: -60px;
}
.row div {
  flex-direction: column;
}
